a[href="https://www.kletech.ac.in"] {
    color: red;
    text-decoration: underline;
}

a[href="https://www.google.com"] {
    color: blue;
    text-decoration: underline;
}

button[disabled] {
    cursor: not-allowed;
}

input[type="text"] {
    border: 5px solid grey;
    border-radius: 0 10px 0 10px;
    padding: 5px;
}